<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645625853217-lu4g1rs7m0bg1jjrf0eitk7fgm007cif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645625853217-lu4g1rs7m0bg1jjrf0eitk7fgm007cif</string>
	<key>API_KEY</key>
	<string>AIzaSyAdlo7T9neRvv172KrOOryyDxnyHqmtY9c</string>
	<key>GCM_SENDER_ID</key>
	<string>645625853217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationProject</string>
	<key>PROJECT_ID</key>
	<string>graduation-app-baeb7</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-app-baeb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645625853217:ios:d878fa3664c7fcefbefa60</string>
</dict>
</plist>